<!DOCTYPE html>
<html lang="en">

<head>
	<title>HalleBlue</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script async src="/assets/js/all.js"></script>
	<link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>
	{{#block "main"}}

	{{/block}}
</body>

</html>
