{{#extend 'base' }}

{{#content "main" mode="append"}}
<div id="app">
	Prueba template,
	{{> prueba}}
	<br>
	{{#link '/pages/prueba' '<i class="fas fa-globe-europe"></i> Hola' }}{{/link}}
</div>
{{/content}}

{{/extend}}
